* {
    box-sizing: border-box;
    font-family: 'Fraunces', sans-serif;
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    width: 45px; 
    height: auto;
}

.logo span {
    font-size: 25px; /* Tamaño del texto */
    font: bold;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
    
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.col-2 img{
    max-width: 100%;
    padding: 60px 0;
}

.categories {
    position: relative;
    overflow: hidden;
}

.category-carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.category-item {
    flex: 0 0 33.333%; /* Las imágenes ocupan 1/3 del ancho */
}

.category-item:first-child {
    margin-left: 12px; /* Elimina el margen izquierdo de la primera imagen */
}

.category-item img {
    width: 95%; /* Todas las imágenes ocupan el 100% del contenedor */
    height: 60%; /* Altura automática para mantener la proporción */
}


.carousel-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Asegúrate de que el color sea visible sobre el fondo */
    z-index: 10; /* Añadimos un z-index alto para asegurarnos de que estén sobre otros elementos */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px; /* Añade padding para hacer el área clickeable más grande */
}

.prev {
    left: 10px; /* Ajusta según sea necesario */
}

.next {
    right: 10px; /* Ajusta según sea necesario */
}



/* Elimina el margen derecho de la última imagen para evitar desbordamiento horizontal */
.category-item:last-child {
    margin-right: 0;
}



.col-4{
    flex-basis: calc(25% - 20px); /* Ancho del 25% menos el espacio entre columnas */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    height: 60%;
}

.col-4:hover{
    transform: translateY(-5px)
}


.titulo{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.titulo::after{
    content: '';
    background: rgba(148,187,233,1);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*Carrito*/

.containerCart{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}


svg{
    width: 30px;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


header .icon-cart{
    position: relative;
}


header.icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    color: #f4f4f4; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.cartTab{
    width: 400px;
    background-color: lightgray;
    color: black;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.mostrarCart .cartTab{
    inset: 0 0 0 auto;
}

body.mostrarCart .container{
    transform: translateX(-250px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .button button{
    background-color: #555;
    border: none;
    font-family: Fraunces;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .button .close{
    background-color: #eee;

}

.cartTab .listaCart .item img{
    width: 100%;
    margin-left: 10px;
}

.cartTab .listaCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listaCart .cantidad span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listaCart .cantidad span:nth-child(2){
    background-color: transparent;
    color: black;
}

.listaCart{
    overflow: auto;
}

.listaCart::-webkit-scrollbar{
    width: 0;
}











/* footer */

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
}

.social-icons img {
    width: 40px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: 40px;
}



